<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GCTA Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">-->
</head>
<body>
    <div>
        {% macro indent_macro() %}{% include "navbar.html" %}{% endmacro %}
        {{ indent_macro()|indent }}

        <div style="margin: 2em;">
            <table class="pure-table pure-table-bordered pure-table-striped">
                <thead>
                    {% for head in result.pop() %}
                    <th>
                        {{ head }}
                    </th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for item in result %}
                    <tr>
                        {% for elem in item %}
                        <td>{{ elem }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>
