<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    {% macro indent_macro() %}{% include "navbar.html" %}{% endmacro %}
    {{ indent_macro()|indent }}

    <pre>

        Information, Tables, etc.</pre>

    <img style="display: block; margin-left: auto; margin-right: auto; width: 80%;" src="/static/stock-photo-data.jpg">
    <br>

    <hr>
    <footer style="text-align: right; padding-right: 1em;">Microsoft Identity Platform</footer>

</body>
</html>

